# Set default behavior to automatically normalize line endings.
* text=auto

# Explicitly declare text files to be normalized and converted to LF in the repository.
*.c text
*.h text
*.cpp text
*.py text
*.html text
*.css text
*.js text

# Denote binary files to be kept as-is without line ending conversion.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
